* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.rechercher-entreprise {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 100vh;
    padding: 1.5rem 2rem 2rem;
    color: var(--text-default-grey);
}
